<div class="container">
  <form class="form-horizontal" id="createAdvert">
    <legend>
     Chercher 
    </legend>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Search</label>
        <div class="col-sm-4">
          <input name="search" class="form-control" id="search" type="text" value="" >
       <label>{{ advert.search}}</label>
        </div>
      </div>
      <dl class="list">
        <dt>Type annonce</dt>
        <dd>{{ advert.type }}</dd>
        <dt>Description</dt>
        <dd>{{ advert.description }}</dd>
        <dt>mark </dt>
        <dd>{{ advert.mark }}</dd>
        <dt>model </dt>
        <dd>{{ advert.model }}</dd>
        <dt>date et heure</dt>
        <dd>{{ advert.date_time }}</dd>
        <h3> Adresse </h3>
        
        <dd>{{advert.address?.city}}</dd>
      </dl>
      <div>
          <!-- Button -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" id="btn-advert"type="submit" (click) = 'createAdvert()'>Envoyer </button>
          </div>
          </div>
        </div>
    <div>
</div>
