<div class="container">
  <h2>Liste des annonces </h2> 
  <a class="btn btn-primary" [routerLink]="['/searchAdvert']"> Chercher Annonce </a>
  <h5>Cliquer sur l'image pour voir l'annonce </h5>
  <div class="row">
    <div *ngFor="let advert of adverts" class="col-md-3">
      <div class="thumbnail  ">
        <p>{{ advert.date_time }}</p>
        <img src="../../assets/{{advert.image_url}}" alt="{{advert.image_url}}" style="width:50%">
        <div class="caption">
          <p>{{ advert.title }}</p>
          <p>{{ advert.type }}</p>

          <p style="white-space: nowrap;
                  width: 50px;
                  display:none;
                  overflow: hidden;
                  text-overflow: ellipsis;">{{ advert.description }}</p>
        </div>
        <a class="btn btn-primary" [routerLink]="['/advert-detail', advert._id]"> Voir Annonce </a>
      </div>
    </div>
  </div>
</div>