<div class="container">
  <h1>{{ advert.title }}</h1>
  
  <dl class="list">
    <dt>Type annonce</dt>
    <dd>{{ advert.type }}</dd>
    <dt>Description</dt>
    <dd>{{ advert.description }}</dd>
    <dt>mark </dt>
    <dd>{{ advert.mark }}</dd>
    <dt>model </dt>
    <dd>{{ advert.model }}</dd>
    <dt>date et heure</dt>
    <dd>{{ advert.date_time }}</dd>
    <h3> Ville </h3>
    
    <dd>{{advert.address?.city}}</dd>

    <h3> Country </h3>
    
    <dd>{{advert.address?.country}}</dd>




  </dl>
</div>